<p id="notice"><%= notice %></p>

<div class="container-fluid">

    <div class="row">
      <div class="col-md-12 text-center hero-text">
        <h2>Order Index Page <h2>
        <% @orders.each do |order| %>
        <%= order.id %>
      <div class="row">
        <div class="col-md-12 text-center" id="product-options">
          <button type="button" class="btn btn-danger" >
            <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: "orders-options" %>
          </button>
           <button type="button" class="btn btn-primary" >
              <%= link_to 'Show', order, class: "orders-options" %>
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">

    </div>
  </div>
<% end %>
<% if (@orders.empty?) %>
      <div class="row">
        <div class="col-md-12 text-center">
               <button type="button" class="btn btn-primary" id="new-product"><%= link_to 'New Order', new_order_path %></button>
        </div>
<% end %>