<p id="notice"><%= notice %></p>


<div class="container-fluid hero-text-products">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Name:</h1>
      <p> <%= @product.name %></p>
    </div>
  </div>
    <div class="row">
    <div class="col-md-12 text-center">
      <h1>Description:</h1>
      <p><%= @product.description %></p>
    </div>
  </div>
    <div class="row">
    <div class="col-md-12 text-center">
      <h1>Image url:</h1>
      <p> <%= @product.image_url %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2> Color </h2>
      <%= @product.color %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary" >
         <%= link_to 'Edit', edit_product_path(@product) %> |
      </button>
      <button type="button" class="btn btn-primary" >
        <%= link_to 'Back', products_path %>
       </button>
    </div>
  </div>
</div>


